:root {
    --light : powderblue;
    --dark : navy;
    --base : ghostwhite;
    --second-base: grey;
    --third-base: black;
}

.app-title {
    font-size: 3rem;
    background-color: var(--dark);
    color: var(--light);
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: .2rem;
    color: var(--dark);
    border: none;
    outline: none;
    background-color:var(--light);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}

.btn:hover {
    color: var(--base);
    background-color: var(--dark);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--light);
}

header {
    text-align: center;
}

.hero {
    background-color: var(--dark);
}

p {
    color: var(--base);
    font-weight: bolder;
}

.weather-container {
    background-color: var(--base);
    box-shadow: 1px 1px var(--dark);
    color: var(--dark);
}

.submit {
    color: var(--dark);
    font-weight: bolder;
}