*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root {
    --light: ghostwhite;
    --base: powderblue;
    --dark: navy;
    --second-base: grey;
    --third-base: black;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    color: var(--light);
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--dark);
    border: 1px solid var(--dark);
    text-align: center; 
    box-shadow: 0 0 10px var(--second-base); 
}

h1{
    font-size: 60px;
}

h2, h3{
    font-size: 30px;
    color: var(--dark);
}

h4{
    font-size: 10px;
    font-weight: lighter;
}
#search-history{
  font-size: 1.2rem;
  color: var(--dark);

}
#search-button {
  cursor: pointer;
}
#city-history {
  cursor: pointer;
}

.container{
    padding: 20px 70px;
}

.row {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: stretch; 
}

.card-column {
  flex: 1 1 250px;
  margin: 10px;
  background: var(--base);
  box-shadow: 0 0 10px var(--second-base);
}

.card-block {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
  border: 1px solid var(--dark);
  text-align: center; 
  min-height: 300px; 
  box-shadow: 0 0 10px var(--base); 
}

.footer {
  color: var(--light);
  background: var(--dark);
  border: 1px solid var(--dark);
  text-align: center;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 0 10px var(--second-base); 
}